:root {
    --color-darkblue: #1F2937;
    --color-grey: #E5E7EB;
    --color-blue: #3882F6;
    --color-light: #F9FaF8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--color-darkblue);
}

.header-logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: var(--color-light);
}

.navigation {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color-light);
}

/* Hero Section */

.hero {
    display: inline-block;
    width: 100%;
    background-color: var(--color-darkblue);
    color: var(--color-light);
}

.hero-container {
    margin: 100px auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 50px;
}

.hero-right img {
    display: block;
    width: 600px;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.hero-left {
    font-size: 18px;
    max-width: 450px;
}

.hero-left h1 {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-left p {
    color: var(--color-grey);
    margin-bottom: 20px;
}

.hero-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 10px;
}

/* Cards Section */
.cards-container {
    color: var(--color-darkblue);
}

.cards-container h2 {
    margin-top: 50px;
    text-align: center;
    
    font-size: 36px;
    font-weight: 900;
}

.card-images {
    margin: 40px auto 100px auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}

.card-img {
    width: 200px;
}

/* Quote Section */

.quote-container {
    padding: 90px;
    background-color: var(--color-grey);
    color: var(--color-darkblue);
    font-size: 36px;
}

.quote {
    margin: 0 auto 10px auto;
    max-width: 800px;
    font-style: italic;
    font-weight: 300;
}

.quotee {
    margin: 0 auto 10px auto;
    max-width: 800px;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* Sign Up Section */

.sign-container {
    margin: 100px auto;
    padding: 60px 0;
    background-color: var(--color-blue);
    color: var(--color-light);
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.sign-title {
    font-size: 24px;
    font-weight: 700;
}

.sign-button {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

/* Footer */

footer{
    height: 80px;
    background-color: var(--color-darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}